<div class="about">
	<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
        <img src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/970924_10101118539674576_1855023375_n.jpg?oh=b8bcc0c6b9c54959102506e9d30601eb&oe=55EEC417">
        </div>
      </div>
      <div class="col-md-6">
        <p>Hi. My name is Kadar Hall and I like to <!-- <span>party</span> -->code and scroll through menus on Netflix.</p>
      </div>
    </div>
  </div>
</div>