<!DOCTYPE html>
<html>
<head>
  <title>MySite</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/alphabet.js"></script>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<link href="css/hover.css" rel="stylesheet" media="all">


</head>
<body>

  <div class="nav nav-pills">
    <div class="container">
      <ul class="pull-left">
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
      <ul class="pull-right">
        <li><a href="#">Github</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">LinkedIn</a></li>
      </ul>
    </div>
  </div>


  <div class='color'>
    <div class='wheel'>
    </div>
  </div>

  <div class='status'>
    <div class='container'>
      <form>
        <div class='form-group'>
          <textarea class='form-control status-box' rows='2' placeholder="What's on your mind"></textarea>
        </div>
      </form>
      <div class="button-group pull-right">
        <p class='counter'>140</p>
        <a href='#' class='btn btn-primary'>Post</a>
      </div>

      <ol class='posts'>
      </ol>

    </div>
  </div>

  <div class='slider'>

    <canvas id="myCanvas">Kadar</canvas>

    <div class='slide boat active-slide'>
      <div class="container">
        <div class='row'>
          <div class='col-xs-12'>
          <h1 class='name'>Kadar Hall</h1>
          <p>Full Stack Developer</p>
          <a href="#" class="arrow-left hvr-pulse"><i class="fa fa-arrow-left"></i></a><br>
          <a href="#" class="arrow-right hvr-pulse"><i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class='slide city'>
      <div class='container'>
        <div class='row'>
          <div class='col-xs-12'>
          <h1>Kadar Hall</h1>
          <p>Full Stack Developer</p>
          <a href="#">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <div class='slide bridge'>
      <div class='container'>
        <div class='row'>
          <div class='col-xs-12'>
          </div>
        </div>
      </div>
    </div>
    <div class='slide train'>
      <div class='container'>
        <div class='row'>
          <div class='col-xs-12'>
          </div>
        </div>
      </div>
    </div>


  </div>

      <div class="icon-close-left">
        <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png">
      </div>

      <div class="icon-close-right">
        <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png">
      </div>


    <div class="slider-nav">
      <a href="#" class="arrow-prev"><i class="fa fa-arrow-circle-left"></i></a>
      <ul class="slider-dots">
        <li class="dot first active-dot">&bull;</li>
        <li class="dot second">&bull;</li>
        <li class="dot third">&bull;</li>
        <li class="dot fourth">&bull;</li>
      </ul>
      <a href="#" class="arrow-next"><i class="fa fa-arrow-circle-right"></i></a>
    </div> 




    <div class="neighborhood-guides">
        <div class="container">
            <h2>Bootstrap Images Grid</h2>
            <p>Not sure where to stay? We've created neighborhood guides for cities all around the world.</p>
            <div class='row'>
                <div class='col-md-4'>
                    <div class='thumbnail'>
                        <img src='http://goo.gl/0sX3jq'>
                    </div>
                    <div class='thumbnail'>
                        <img src='http://goo.gl/an2HXY'>
                    </div>
                </div>
                <div class='col-md-4'>
                    <div class='thumbnail'>
                        <img src='http://goo.gl/Av1pac'>
                    </div>
                    <div class='thumbnail'>
                        <img src='http://goo.gl/vw43v1'>
                    </div>
                </div>
                <div class='col-md-4'>
                    <div class='thumbnail'>
                        <img src='http://goo.gl/0Kd7UO'>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="learn-more">
	  <div class="container">
		<div class='row'>
	      <div class='col-md-4'>
			<h3>Javascript</h3>
			<p>Lorem ipsum dolor sit amet, no nihil constituto vituperata eos. Ex feugait dissentiunt his, te nam possim molestie mandamus.</p>
			<p><a href="www.mapitalist.com">Mapitalist</a></p>
	      </div>
		  <div class='col-md-4'>
			<h3>Ruby on Rails</h3>
			<p>No epicuri scribentur comprehensam duo, impedit laboramus at vix. In quo ponderum mandamus gubergren, mucius inciderint philosophia ad duo.</p>
			<p><a href="#">DC Dish</a></p>
		  </div>
		  <div class='col-md-4'>
			<h3>HTML5/CSS3</h3>
			<p>Duo te legimus imperdiet instructior, odio antiopam ea eos. Te eum aeque instructior, saperet maiestatis vis an.</p>
			<p><a href="#">Ripened Tomato</a></p>
		  </div>
	    </div>
	  </div>
	</div>

    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/bubbles.js"></script>


  </body>


</html>