




  <div class='status'>
    <div class='container'>
      <form>
        <div class='form-group'>
          <textarea class='form-control status-box' rows='2' placeholder="What's on your mind"></textarea>
        </div>
      </form>
      <div class="button-group pull-right">
        <p class='counter'>140</p>
        <a href='#' class='btn btn-primary'>Post</a>
      </div>

      <ol class='posts'>
      </ol>

    </div>



  </div>

  <div class='color'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <div class='wheel'>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class='slider'>

    <canvas id="myCanvas">Kadar</canvas>

    <div class='slide boat'>
      <div class="container">
        <div class='row'>
          <div class='col-md-12'>
          <h1 class='name'>Hello! My name is Kadar Hall and I'll "ashore" you that this site was made for you to enjoy.<i class="fa fa-rocket hvr-wobble-vertical"></i></h1>
          <h6>(OK that was terrible. Click the rocket or arrows if you dare.)</h6>
          <p>Full Stack Developer</p>
          <a href="#" class="arrow-left hvr-pulse"><i class="fa fa-arrow-left"></i></a><br>
          <a href="#" class="arrow-right hvr-pulse"><i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class='slide city'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-12'>
<!--           <h1>Kadar Hall</h1>
          <p>Full Stack Developer</p>
          <a href="#">Learn More</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class='slide bridge'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-12'>
          </div>
        </div>
      </div>
    </div>
    <div class='slide train'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-12'>
          </div>
        </div>
      </div>
    </div>


  </div>

      <div class="icon-close-right">
        <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png">
      </div>

    <div class="icon-close-left">
      <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png">
    </div>


    <div class="slider-nav">
      <a href="#" class="arrow-prev"><i class="fa fa-arrow-circle-left"></i></a>
      <ul class="slider-dots">
        <li class="dot first active-dot">&bull;</li>
        <li class="dot second">&bull;</li>
        <li class="dot third">&bull;</li>
        <li class="dot fourth">&bull;</li>
      </ul>
      <a href="#" class="arrow-next"><i class="fa fa-arrow-circle-right"></i></a>
    </div> 




    <div class="neighborhood-guides">
        <div class="container">
            <h2>Bootstrap Images Grid</h2>
            <p>Responsive grid that resizes as the window shrinks.</p>
            <div class='row'>
                <div class='col-md-4'>
                    <div class='thumbnail'>
                        <img src='https://download.unsplash.com/photo-1430760814266-9c81759e5e55'>
                    </div>
                    <div class='thumbnail'>
                        <img src='https://download.unsplash.com/reserve/iFJ5qQylTD2POC68qBgh_Uluru.jpg'>
                    </div>
                </div>
                <div class='col-md-4'>
                    <div class='thumbnail'>
                        <img src='https://download.unsplash.com/photo-1417444900330-dc44c79af021'>
                    </div>
                    <div class='thumbnail'>
                        <img src='https://download.unsplash.com/uploads/141319062591093cefc09/ad50c1f0'>
                    </div>
                </div>
                <div class='col-md-4'>
                    <div class='thumbnail'>
                        <img src='https://download.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg'>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="learn-more">
	  <div class="container">
		<div class='row'>
	      <div class='col-md-4'>
			<h3>Javascript/AngularJS</h3>
			<p>Lorem ipsum dolor sit amet, no nihil constituto vituperata eos. Ex feugait dissentiunt his, te nam possim molestie mandamus.</p>
			<p><a href="http://www.mapitalist.com">Mapitalist</a></p>
	      </div>
		  <div class='col-md-4'>
			<h3>Ruby on Rails</h3>
			<p>No epicuri scribentur comprehensam duo, impedit laboramus at vix. In quo ponderum mandamus gubergren, mucius inciderint philosophia ad duo.</p>
			<p><a href="#">DC Dish</a></p>
		  </div>
		  <div class='col-md-4'>
			<h3>HTML5/CSS3/SASS/API</h3>
			<p>Duo te legimus imperdiet instructior, odio antiopam ea eos. Te eum aeque instructior, saperet maiestatis vis an.</p>
			<p><a href="#">Ripened Tomato</a></p>
		  </div>
	    </div>
	  </div>
	</div>


    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/bubbles.js"></script>


