
.color {
  position: fixed;
  left: -100%;
  width: 100%;
  height: 100%;
  background: url(bike-wheel.png);
 }



/*.color img:hover {
 cursor: pointer;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
  
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
  
}
}
*/