body {
  height: 100%;
  width: 100%;
  position: relative;
}

/*.container {
  width: 960px;
}*/

.nav {
  background-color: #24251F;
  position: relative;
  height: 50px;
  color: #B6BCC7;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

#myCanvas {
  position: relative;
  display: none;
}

.slider {
  position: relative;
  width: 100%;
  height: 470px;
  border-bottom: 1px solid #dbdbdb;
}

.slide {
  background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png') center center no-repeat;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
  display: block;
}

.boat {
  background: url('https://download.unsplash.com/reserve/xWcqazwvSXadCA7dZLiQ_Ship_mast.jpg')  no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.boat h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.boat p {
  font-size: 20px;
  color: #fff;
}

.city {
  background: url('https://download.unsplash.com/uploads/1413259835094dcdeb9d3/6e609595')  no-repeat;
  background-size: cover;
/*  top: 0;
  left: 0;
  width: 100%;
  height: 100%;*/
}

.bridge {
  background: url('https://download.unsplash.com/photo-1428342319217-5fdaf6d7898e')  no-repeat;
  background-size: cover;
}

.train {
  background: url('https://download.unsplash.com/photo-1423882503395-8571951e45cc')  no-repeat;
  background-size: cover;
}

.arrow-left {
  font-size: 48px;
  color: #fff;
}

.arrow-right {
  font-size: 48px;
  color: #fff;
}

.icon-close-left {
  position: fixed;
  left: -100px;
}

.icon-close-right {
  position: fixed;
  right: -100px;
}


.slider-nav {
  text-align: center;
  margin-top: 20px;
/*  position: relative;
  bottom: 0;*/
  margin-bottom: 20px
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
  font-size: 40px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
  font-size: 40px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 10px;

}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 40px;
  margin-right: 5px;
  padding: 10px
}

.slider-dots a:hover {
  text-decoration: none;
}

.slider-dots a {
  text-decoration: none;
}

.slider-dots li.active-dot {
  color: #363636;
}

/*.jumbotron {
  background-image:url('https://download.unsplash.com/reserve/xWcqazwvSXadCA7dZLiQ_Ship_mast.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}*/

.learn-more {
  position: relative;
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    position: relative;
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}