<!DOCTYPE html>
<html>
<head>
  <title>MySite</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/alphabet.js"></script>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,500,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" media="all" href="jquery.sidr.dark.css">


</head>

<body>

  <div class="nav nav-pills">
    <div class="container">
      <ul class="pull-left">
        <li><i class="fa fa-home"></i><a href="/">Home</a></li>
        <li><i class="fa fa-briefcase"></i><a href="/portfolio">Portfolio</a></li>
        <li><i class="fa fa-user"></i><a href="/about">About</a></li>
        <li><i class="fa fa-medium"></i><a href="https://medium.com/@kadarhall">Blog</a></li>
      </ul>
      <ul class="pull-right">
        <li><i class="fa fa-github-alt"></i><a href="https://github.com/Kadarhall">Github</a></li>
        <li><i class="fa fa-twitter"></i><a href="https://twitter.com/Kadarmor">Twitter</a></li>
        <li><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/kadarhall">LinkedIn</a></li>
      </ul>
      <ul>
        <li><a id="simple-menu" href="#sidr">&#9776</a></li>
      </ul>
      
 
      <div id="sidr">
        <!-- Your content -->
        <ul>
          <li class="active"><i class="fa fa-home "></i><a href="/">Home</a></li>
              <li><i class="fa fa-briefcase"></i><a href="/portfolio">Portfolio</a></li>
              <li><i class="fa fa-user"></i><a href="/about">About</a></li>
              <li><i class="fa fa-medium"></i><a href="https://medium.com/@kadarhall">Blog</a></li>
              <li><i class="fa fa-github-alt"></i><a href="https://github.com/Kadarhall">Github</a></li>
              <li><i class="fa fa-twitter"></i><a href="https://twitter.com/Kadarmor">Twitter</a></li>
              <li><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/kadarhall">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>

<%= yield %>

  <div class="copyright">
  <i class="fa fa-copyright"></i> Kadar Hall 2015
  </div>


</body>
</html>
